*{
    text-align: center;
}

section{
    margin: 12px 0px 12px 0px;
}

article{
    margin-top: 20px;
}

.input{
    margin: auto;
}

label{
    font-weight: bold;
}

input{
    text-align: center;
}

.oculto{
    display: none;
}

.formulario_mini{
    margin:auto;
    margin-top: 10px;
}

h1{
    margin: 0px 0px 0px 0px;
    margin-top: 20px;
}